html {
   width: 100%;
   margin: 0;
   padding: none;
}

body {
   color: map-get($colors, dark);
   font-family: $font-family;
   font-size: $base-font-size;
   max-width: 100%;
   margin: 0;
   padding: none;
}

nav {
   @include padding;
}

a {
   color: map-get($colors, primary)
}

ul {
   padding: 0;
   list-style-type: none;
   li {
      margin: 0;
      padding: none;
   }
}

img {
   max-width: 100%;
   display: inline;
}

.scroller {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   align-items: stretch;
   justify-content: flex-start;
   .scroll-item {
      flex: 0 0 auto;
   }
}

.full-height {
   height: $full-height;
}

.inline {
   display: flex;
   align-items: stretch;
   justify-content: space-around;
   padding: .125em .25em;
   @each $element in $elements {
      #{$element} {
         align-self: center;
         display: flex;
         margin: 0;
         @include padding;
      }
   }
}

.rounded {
   @include border-radius;
}

.flex-container {
   list-style: none;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
   overflow: wrap;
   justify-content: space-around;
}

.flex-item {
   background: coral; // @include padding;
   @include margin;
   width: 50px;
   height: 25px;
   line-height: 150px;
}

.verticle {
   flex-direction: column;
}