#grid {
   @include grid-columns(3);
}

nav, .navbar {
	display: flex;
	align-items: center;
	
	justify-content: flex-start;
	height: 4em;
	@include space-reset;
	@include padding-x;
	
   .logo {
		@include space-reset;
      font-weight: bold;
      text-transform: uppercase;
		margin-right: 1em;
      font-size: 1.5em;
	}
	
   a {
		@include color(primary);
		@include space-reset;
      align-self: center;
		margin-right: .5em;
      font-size: 1.125em;
      text-decoration: none;
		text-transform: capitalize;
		position: relative;
		transition: 100ms ease-in-out;
	}
	
	a:hover {
		color: darken-color(light, 15%);
		transform: scale(1.05);
		@include border-bottom(light, 2px);
	}
	
   nav {
		@include space-reset;
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
			-webkit-overflow-scrolling: touch; 
			-ms-overflow-style: -ms-autohiding-scrollbar;
		 
		 .scroll::-webkit-scrollbar {
			display: none; }
		a:visited {
			color: darken-color(primary, 30%);	
			
		}
		
      a:last-child {
         margin-right: 0;
      }
	
	}

}
.dark {
	@include background(dark);
}

nav::-webkit-scrollbar {
	display: none; }

	.between {
			justify-content: space-between;
		
	} 


html {
	// margin-top: 4em;
}
