@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');

$font-family: 'Raleway', sans-serif;
$header-font: 'Staatliches', cursive;

$base-line-height: 1;

$default-padding: 0.25em 0.75em;
$default-margin: 0.25em 0.5em;

$default-radius: .5em;
$full-height: 100vh;
$base-font-size: .75em;

$elements: div, h1, h2, h3, h4, h5, h6, p;
$headings: h1, h2, h3, h4, h5, h6;

$colors: (
    primary: rgb(51, 114, 233),
    secondary: #34495e,
    light: #eaecee,
    dark: #1c2833,
    success: #52be80,
	 danger: #e74c3c,
	 info: #85C1E9,
	 warning: #F7DC6F
);
	 

