@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://use.typekit.net/olo2rze.css");

// Font Family
$font-family: 'Raleway', sans-serif;
$header-font: "Zeitung", sans-serif;


$base-line-height: 1;

$default-padding: 0.25em 0.75em;
$default-margin: 0.25em 0.5em;

$default-radius: .5em;
$full-height: 100vh;
$base-font-size: .75em;

$elements: div, h1, h2, h3, h4, h5, h6, p;
$headings: h1, h2, h3, h4, h5, h6;
$text: h1, h2, h3, h4, h5, h6, p;

$colors: (
    white: #ffffff,
    primary: #3372e9,
    secondary: #34495e,
    muted: #9099a1,
    light: #eaecee,
    dark: #1c2833,
    success: #52be80,
    danger: #e74c3c,
    info: #85C1E9,
    warning: #F7DC6F
);

$breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;


$defaults: ( 
    padding: 0.25em 0.75em,
    margin: 0.5em 0.25em,
    border-radius: 0.5em,
    border-width: 1.5px, 
    border-color: dark,
    lighten: 15%
);