@mixin button-reset {
   border: none;
   text-decoration: none;
   outline: none;
   font-family: $font-family;
   text-align: center;
   cursor: pointer;
   &:focus,
   &:hover {
      text-decoration: none;
      @include color(white);
   }
}

button {
   @include button-reset();
   font-size: 13px;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 2px;
   transition: all 100ms ease-in-out;
   @include padding-x(1em);
   @include padding-y(.5em);
   @include margin(2px);
   @include color(primary);
   @include background(white);
   @include border-radius(2px);
   &:focus,
   &:hover {
      text-decoration: none;
      @include color(primary);
   }
   &:hover {
      background: lighten-color(light, 5%);
      &::after {
         opacity: 0.22;
      }
   }
   &:active {
      @include background(light);
      &::after {
         opacity: 0.32;
      }
   }
}

button {
   @each $color,
   $value in $colors {
      &.#{$color} {
         background: $value;
         @include color(white);
         &:focus,
         &:hover {
            @include color(white);
         }
         &:hover {
            background: lighten-color($color, 5%);
         }
         &:active {
            background: darken-color($color, 5%);
         }
      }
   }
}