%grid {
   display: grid;
   gap: 1em;
   text-align: center;
}

.grid {
   display: grid;
   gap: 1em;
   text-align: center;
}

.grid.half {
   @extend %grid;
   grid-template-columns: repeat(2, 1fr);
}

.grid.thirds {
   grid-template-columns: repeat(3, 1fr);
}

.grid.forths {
   grid-template-columns: repeat(4, 1fr);
}