#grid {
   @include grid-columns(3);
}

.navbar {
   font-size: 15px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   display: flex;
   flex-wrap: nowrap;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar;
   height: 4em;
   @include space-reset;
   padding-left: 1em;
   @include background(primary);
   a {
      @include space-reset;
      align-self: center;
      margin-right: .5em;
      font-size: 1.125em;
      text-decoration: none;
      text-transform: capitalize;
      position: relative;
      transition: 100ms ease-in-out;
      @include color(light);
      &:hover {
         color: darken-color(light, 15%);
         transform: scale(1.05);
         @include border-bottom(light, 2px);
      }
   }
   .logo {
      font-size: 18px;
      text-align: center;
      @include space-reset;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 1em;
      @include color(white);
   }
   nav {
      height: 100%;
      @include space-reset;
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-scrollbar {
         display: none;
      }
      a {
         @include color(white);
         text-align: center;
         &:active {
            @include color(dark);
         }
         &:visited {
            color: darken-color(white, 5%);
         }
         &:last-child {
            padding-right: 1em;
         }
      }
   }
}

.sticky {
   top: 0;
   z-index: 100;
   width: 100%;
   position: fixed;
}

.dark {
   @include background(dark);
   @include color(light);
   .logo {
      @include color(light);
   }
   nav {
      a {
         @include color(muted);
         &:visited {
            color: lighten-color(dark, 30%);
         }
      }
   }
}

.light {
   @include background(white);
   .logo {
      @include color(dark);
   }
   nav {
      a {
         @include color(primary);
         &:hover {
            color: darken-color(primary);
         }
         &:visited {
            color: lighten-color(dark, 30%);
         }
      }
   }
}

.between {
   justify-content: space-between;
}