.card {
   display: flex;
   flex-direction: column; // @include border-radius;
   // @include background(light);
   @include padding-x(1em);
   @include padding-y(1em);
   @include border;
   @include margin(2em);
   @include text-reset;
   .title {
      @include padding-bottom(.5em);
      font-weight: bold;
   } // .body {}
   button {
      align-self: flex-end;
   }
}